node_modules/

# Ignore the real game files used for tests.  These can't be distributed but
# if they are missing, those tests will be skipped.
test/arc-exe-*/*.exe
test/arc-gamemaps-id/*.ck4
test/arc-gamemaps-id/*.wl6
test/arc-glb-raptor/file0000.glb
test/arc-grp-build/duke3d.grp
