node_modules/

# Ignore the real game files used for tests.  These can't be distributed but
# if they are missing, those tests will be skipped.
test/arc-bnk-harry/sfx.*
test/arc-bpa-drally/ibfiles.bpa
test/arc-cur-prehistorik/filesa.cur
test/arc-dat-fast/bash1.dat
test/arc-dat-got/gotres.dat
test/arc-dat-indy500/indy.1
test/arc-dat-lostvikings/data.dat
test/arc-dat-wacky/wacky.dat
test/arc-epf-eastpoint/lionking.epf
test/arc-exe-*/*.exe
test/arc-exe-ddave/dave.cmp-lzexe.revealed
test/arc-gamemaps-id/*.bm1
test/arc-gamemaps-id/*.wl1
test/arc-gamemaps-id-carmack/*.ck4
test/arc-gamemaps-id-carmack/*.wl6
test/arc-glb-raptor/file0000.glb
test/arc-grp-build/duke3d.grp
test/arc-hog-descent/descent.hog
test/arc-lbr-vinyl/goddess.lbr
test/arc-pod-tv/startup.pod
test/arc-rff-blood-v301/gui.rff
test/arc-vol-cosmo/cosmo1.vol
test/arc-wad-doom/doom1.wad
test/arc-wad-doom/remote1.rts
